@media (max-aspect-ratio: 13 / 9) {
    body {
        max-width: 100% !important;
        margin: 0 0.5em 0.5em 0.5em;
        padding: 0 0.5em 0 0.5em;
        font-size: 4em !important;
    }
}

body {
    max-width: 50%;
    margin: 0 auto 0.5em auto;
    background-color: #f2f2f2;
    font-family: "Segoe UI";
    color: #111;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}

button, input {
    font-size: inherit !important;
}

p {
    margin: 0;
}

.strikeout p {
    text-decoration: line-through;
}

.editorTitle,
.productSelectInput,
.shopSelectInput,
button.newListButton,
button.addItem,
button.selectShopButton,
button.removeList,
button.shopPlanButton {
    margin-top: 0.5em;
    width: 100%;
}

.listPreview {
    width: 100%;
    border: 1px solid gray;
    margin-top: 0.5em;
}

.listPreviewHeader {
    text-align: center;
    text-decoration: underline;
}

.productSelectPreview, .productView {
    border: 1px solid gray;
    margin-top: 0.5em;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

.productSelectPreview {
    grid-template-columns: 3em auto 3em;
}

.productView {
    grid-template-columns: 3em auto;
}

.productName {
    grid-column: 2;
    grid-row: 1;
    margin-left: 0.1em;
}

.productCost {
    grid-column: 2;
    grid-row: 2;
    margin-left: 0.1em;
}

button.addProduct {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

.shopSelectPreview {
    border: 1px solid gray;
    margin-top: 0.5em;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 3em auto 3em;
}

.editor .shopSelectPreview {
    grid-template-columns: 3em auto;
}

.productView {
    grid-template-columns: 3em auto 3em 3em;
}

input.toggleTaken {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

.productIcon {
    grid-column: 1;
    grid-row: 1 / 3;
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    border: 1px solid gray;
}

button.removeItem {
    grid-column: 4;
    grid-row: 1 / 3;
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

.shopName {
    grid-column: 2;
    grid-row: 1;
    margin-left: 0.1em;
}

.shopAddress {
    grid-column: 2;
    grid-row: 2;
    margin-left: 0.1em;
}

.shopCost {
    grid-column: 2;
    grid-row: 3;
}

.shopIcon {
    grid-column: 1;
    grid-row: 1 / 4;
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    border: 1px solid gray;
}

button.pickShop {
    grid-column: 3;
    grid-row: 1 / 4;
    width: 2em;
    height: 2em;
    margin: 0.5em;
}

.suggestedShopsTitle {
    width: 100%;
    margin-top: 0.5em;
    text-align: center;
}

.listPreviewItem {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.listPreviewEnd {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.shopSelectPreview,
.productView,
.productSelectPreview,
.listPreview {
    background-color: #e9e9e9;
}

button.addProduct,
button.pickShop {
    background-color: rgb(132, 197, 132);
    border: 1px solid rgb(132, 197, 132);
    color: white;
    font: 200%;
}

button.removeItem {
    background-color: rgb(197, 132, 132);
    border: 1px solid rgb(197, 132, 132);
    color: white;
    font: 200%;
}

button.newListButton,
button.addItem,
button.selectShopButton,
button.removeList,
button.shopPlanButton {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background: #fafafa;
    background-image: -webkit-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -moz-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -ms-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: -o-linear-gradient(top, #fafafa, #f0f0f0);
    background-image: linear-gradient(to bottom, #fafafa, #f0f0f0);
    border-radius: 0.2em;
}

input.editorTitle,
input.productSelectInput,
input.shopSelectInput {
    padding: 0.2em;
}
